/* Contenedor principal */
.SpellLevels-Container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    user-select: none;
}

.SpellLevels-Container-Title {
    margin-top: 2%;
    margin: 0 auto;
}

.SpellLevels-PreparedSpell {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.spell-h3 {
    text-align: center;
    cursor: pointer;
}

.SpellLevel {
    max-width: 300px;
}

.SpellLevel-Header {
    cursor: pointer;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 4px;
    width: 280px;
}

.SpellLevel-Header:hover {
    background-color: rgb(150, 150, 150);
}

.SpellDomain {}

.SpellDomain-Header {
    cursor: pointer;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 4px;
    width: 280px;
}

.SpellDomain-Header:hover {
    background-color: rgb(150, 150, 150);
}

.SpellLevel-Content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SpellItem {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea el contenido a los extremos */
    margin-bottom: 10px;
    padding-left: 0;
}

.SpellName {
    text-decoration: none;
    color: black;
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
    margin-right: 10px;
}

.SpellName:hover {
    background-color: gray;
    padding: 4px;
    color: white;
    border-radius: 3px;
}

/* Botones alineados horizontalmente con separación */
.spells-buttons {
    display: flex;
    align-items:center;
    gap: 10px; /* Espacio entre los botones */
}

.PreparedButton, .QuickPreparedButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.PreparedButton img, .QuickPreparedButton img {
    width: 24px;
    height: 24px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.icon-tooltip {
    position: relative;
    display: inline-block;
}

.icon-tooltip .icon-tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-tooltip:hover .icon-tooltiptext {
    visibility: visible;
    opacity: 1;
}
.small-text {
    font-size: 12px; /* Tamaño fijo en píxeles */
}
/* Media Queries para responsividad */

/* Para pantallas de 768px o menos (tablets) */
@media (max-width: 768px) {
    .SpellLevels-PreparedSpell {
        flex-direction: column;
        align-items: center;
    }

    .SpellLevel-Header, .SpellDomain-Header {
        width: 90%;
    }
}

/* Para pantallas de 480px o menos (móviles pequeños) */
@media (max-width: 480px) {
    .SpellLevels-Container {
        width: 100%;
    }

    .SpellLevels-PreparedSpell {
        width: 100%;
    }

    .SpellLevel-Header, .SpellDomain-Header {
        width: 100%;
    }

    .SpellName {
        font-size: 14px;
    }

    .tooltip .tooltiptext {
        width: 150px;
    }

    .icon-tooltiptext {
        width: 120px;
    }
}
.no-prepared-spells-message {
    padding: 10px;
    color: #333;
    font-size: 16px;
    text-align: center;
    font-style: italic;
  }