/* Contenedor principal */
.SpellLevels-Container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 2%;
    padding-bottom: 2%;

    color: black;
    background-color: white;
    border-radius: 10px;
    width: 80%;
}

.SpellLevels-Container-Title{
    margin-top: 2%;
    margin: 0 auto;
}
.SpellLevels-PreparedSpell{
    display: flex;
    justify-content:space-around ;
    width: 90%;
    margin: 0 auto;

}

/* Estilo del tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Estilo del tooltip (oculto por defecto) */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px; /* Ajusta el ancho según el contenido */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posición del tooltip */
    left: 50%;
    margin-left: -100px; /* Centro el tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Mostrar el tooltip cuando el usuario pasa el ratón por encima */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Estilo del overlay del popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  


  